<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Base Template</title>
    <link href="{{url_for('static',filename='css/main.css')}}" rel="stylesheet">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <style>
    .fixed-nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000; /* Set the appropriate z-index to place it above other content */
    }
    </style>
</head>
<body class="bg-spotify-green">
    <nav class="bg-white">
        <div class="max-w-6xl mx-auto px-2">
            <div class="flex justify-between">
                <div class="flex space-x-1">
                    <div>
                        <a href="#" class="flex items-center py-3 px-2">
                            <img class="h-12 mr-2" src = "../static/images/spotify-svgrepo-com.svg"
                                 alt="no image available">
                            SpotifyRapped
                        </a>
                    </div>

                    <div class="hidden md:flex items-center space-x-1">
                        <a href="#" class="py-3 px-3 hover:shadow">Artists</a>
                        <a href="#" class="py-3 px-3 hover:shadow">Songs</a>
                        <a href="#" class="py-3 px-3 hover:shadow">Genres</a>
                    </div>
                </div>

                <div class="hidden md:flex items-center">
                    {% if g.access_token %}
                    <a href="#" class="py-2.5 px-4 bg-spotify-green rounded hover:shadow hover:text-white">Logout</a>
                    {% endif %}
                    {% if not g.access_token %}
                    <a href="#" class="py-2.5 px-4 bg-spotify-green rounded hover:shadow hover:text-white">Login</a>
                    {% endif %}
                </div>

                <div class="md:hidden flex items-center text-3xl">
                    <button class="mobile-button-menu">
                        <ion-icon name="menu"></ion-icon>
                    </button>
                </div>

            </div>
        </div>
        <div class="mobile-menu hidden md:hidden">
            <a href="#" class="block py-2 px-6 text-sm hover:shadow">Artists</a>
            <a href="#" class="block py-2 px-6 text-sm hover:shadow">Songs</a>
            <a href="#" class="block py-2 px-6 text-sm hover:shadow">Genres</a>
            {% if g.access_token %}
            <a href="#" class="block py-2 px-6 text-sm hover:shadow">Logout</a>
            {% endif %}
            {% if not g.access_token %}
            <a href="#" class="block py-2 px-6 text-sm hover:shadow">Login</a>
            {% endif %}
        </div>
    </nav>
    <div class="py-32 text-center">
        {% block content %}

        {% endblock %}
    </div>
    <script>
        //grab everything
        const button = document.querySelector('button.mobile-button-menu');
        const menu = document.querySelector('.mobile-menu')
        //add event listeners
        button.addEventListener('click', () => {
            menu.classList.toggle("hidden")
        })
    </script>
</body>
</html>